In [24]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import collections
from collections import Counter

In [25]:
data = pd.read_csv('movie_bd_v5.csv', parse_dates=['release_date'])
# data.sample(5)

In [26]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [27]:
answers = {}  # создадим словарь для ответов


# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue']-data['budget']
data['len_title'] = data.original_title.apply(lambda x: len(x))
data['words_overview'] = data.overview.apply(lambda x: len(x.split(' ')))

In [28]:
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,len_title,words_overview
843,tt0844993,30000000,13521829,Hoodwinked Too! Hood VS. Evil,Hayden Panettiere|Bill Hader|Joan Cusack|Patri...,Mike Disa,Not All Fairy Tales Go By the Book.,Red Riding Hood is training in the group of Si...,86,Comedy|Animation|Family,HW Two,2011-04-29,4.9,2011,-16478171,29,28
1722,tt0435705,70000000,18211013,Next,Nicolas Cage|Julianne Moore|Jessica Biel|Thoma...,Lee Tamahori,"If you can see the future, you can save it.",Las Vegas showroom magician Cris Johnson has a...,96,Action|Science Fiction|Thriller,Paramount Pictures|Virtual Studios|Revolution ...,2007-04-24,5.9,2007,-51788987,4,95
650,tt0450314,20500000,10089373,Punisher: War Zone,Ray Stevenson|Dominic West|Julie Benz|Colin Sa...,Lexi Alexander,Vengeance has a name,Waging his one-man war on the world of organiz...,102,Action|Crime,Lionsgate|MHF Zweite Academy Film|Marvel Knigh...,2008-12-05,5.5,2008,-10410627,18,78
584,tt0253798,24000000,14782676,Out Cold,Jason London|Lee Majors|Zach Galifianakis|Davi...,Brendan Malloy|Emmett Malloy,"They Haven't Quite Figured It All Out, But The...",Animal House meets Casablanca in this outrageo...,89,Comedy,Spyglass Entertainment|Touchstone Pictures,2001-11-21,6.1,2001,-9217324,8,51
331,tt0913354,20000000,22942221,Armored,Columbus Short|Laurence Fishburne|Skeet Ulrich...,NimrÃ³d Antal,Who will be the last man standing?,A crew of officers at an armored transport sec...,88,Action|Crime|Drama|Thriller,Screen Gems|Stars Road Entertainment|Farah Fil...,2009-12-04,5.6,2009,2942221,7,58

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [29]:
answers['1'] = data[data.budget ==
                    data.budget.max()]['original_title'].values[0]

In [30]:
data[data.budget == data.budget.max()][['original_title', 'imdb_id']].values[0]

array(['Pirates of the Caribbean: On Stranger Tides', 'tt1298650'],
      dtype=object)

ВАРИАНТ 2

In [31]:
index = data[data.budget == data.budget.max()].index[0]
str(data['original_title'].values[index]) + \
    ' ('+str(data['imdb_id'].values[index])+')'

'Pirates of the Caribbean: On Stranger Tides (tt1298650)'

# 2. Какой из фильмов самый длительный (в минутах)?

In [32]:
answers['2'] = data[data.runtime ==
                    data.runtime.max()].original_title.values[0]

# 3. Какой из фильмов самый короткий (в минутах)?

In [33]:
answers['3'] = data[data.runtime ==
                    data.runtime.min()].original_title.values[0]

# 4. Какова средняя длительность фильмов?

In [34]:
answers['4'] = round(data.runtime.mean())

# 5. Каково медианное значение длительности фильмов?

In [35]:
answers['5'] = round(data.runtime.median())

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [36]:
answers['6'] = data[data.profit == data.profit.max()].original_title.values[0]

# 7. Какой фильм самый убыточный?

In [37]:
answers['7'] = data[data.profit == data.profit.min()].original_title.values[0]

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [38]:
answers['8'] = len(data[data.revenue > data.budget])

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [39]:
df2008 = data[data.release_year == 2008]

answers['9'] = df2008[df2008.profit ==
                      df2008.profit.max()].original_title.values[0]

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [40]:
df2012_2014 = data[(data.release_year == 2012) | (
    data.release_year == 2013) | (data.release_year == 2014)]

answers['10'] = df2012_2014[df2012_2014.profit ==
                            df2012_2014.profit.min()].original_title.values[0]

ВАРИАНТ 2

In [41]:
df2012_2014 = data[data.release_year.isin([2012, 2013, 2014])]

# answers['10'] =
df2012_2014.sort_values(by='profit', ascending=True).original_title.iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [42]:
answers['11'] = Counter(data.genres.str.split('|').sum()).most_common()[0][0]

Строки жанров для начала необходимо обработать: разделить по символу '|' (например, при помощи split), и потом либо подсчитывать значения внутри списка, либо воспользоваться функцией explode(), и дальше уже считать при помощи Counter или value_counts

ВАРИАНТ 2

In [43]:
# answers['11'] =
data.genres.str.split('|').explode().value_counts().index[0]

'Drama'

In [44]:
Counter(data.genres.str.split('|').explode()).most_common()[0][0]

'Drama'

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [45]:
answers['12'] = data[data.profit > 0]['genres'].str.split(
    '|').explode().value_counts().index[0]

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [46]:
answers['13'] = data.groupby(['director'])[
    'revenue'].sum().sort_values().index[-1]

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [47]:
df_action = data[data['genres'].str.contains('Action')]

answers['14'] = df_action.director.str.split(
    '|').explode().value_counts().index[0]

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [48]:
df2012 = data[data.release_year == 2012]
actor_list2012 = set(df2012.cast.str.split('|').explode())

answers['15'] = pd.Series({x: df2012[df2012.cast.str.contains(x)].revenue.sum(
) for x in actor_list2012}).sort_values(ascending=False).index[0]

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [49]:
df_b = data[data.budget > data.budget.mean()]

answers['16'] = df_b.cast.str.split('|').explode().value_counts().index[0]

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [50]:
df_NC = data[data.cast.str.contains('Nicolas Cage')]

answers['17'] = df_NC.genres.str.split('|').explode().value_counts().index[0]

# 18. Самый убыточный фильм от Paramount Pictures

In [51]:
df_PP = data[data.production_companies.str.contains('Paramount Pictures')]

answers['18'] = df_PP[df_PP.profit ==
                      df_PP.profit.min()]['original_title'].values[0]

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [52]:
answers['19'] = data.groupby(['release_year'])['revenue'].sum().nlargest(1).index[0]

ВАРИАНТ 2

In [53]:
data.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False).index[0]

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [54]:
df_WB = data[data.production_companies.str.contains('Warner Bros')]

answers['20'] = df_WB.groupby(['release_year'])['profit'].sum().nlargest(1).index[0]

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [55]:
answers['21'] = data.release_date.dt.month_name().value_counts().index[0]

In [56]:
data.groupby([data.release_date.dt.month])[
    'imdb_id'].count().nlargest(1).index[0]

9

In [57]:
monthpd = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
monthru = ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь',
           'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь']

data.groupby([data.release_date.dt.month])['imdb_id'].count().nlargest(
    1).reset_index()['release_date'].replace(monthpd, monthru)[0]

'Сентябрь'

In [58]:
data.release_date.dt.month.value_counts().index[0]

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [59]:
answers['22'] = len(data[(data.release_date.dt.month == 6) | (
    data.release_date.dt.month == 7) | (data.release_date.dt.month == 8)])

ВАРИАНТ 2

In [60]:
data[(data.release_date.dt.month == 6) | (
    data.release_date.dt.month == 7) | (
    data.release_date.dt.month == 8)]['imdb_id'].count()

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [61]:
df_winter = data[(data.release_date.dt.month == 12) | (
    data.release_date.dt.month == 1) | (data.release_date.dt.month == 2)]

answers['23'] = df_winter.director.str.split('|').explode().value_counts().index[0]

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [69]:
prod_companies = set(data.production_companies.str.split('|').explode())

answers['24'] = pd.Series({x: data[data.production_companies.str.contains(x)].len_title.mean()
                           for x in prod_companies}).sort_values(ascending=False).index[0]

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [63]:
answers['25'] = pd.Series({x: data[data.production_companies.str.contains(x)].words_overview.mean()
                           for x in prod_companies}).sort_values(ascending=False).index[0]

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [64]:
data.sort_values(by=['vote_average'], ascending = False)
rating = data.vote_average.quantile(0.99)
data2 = data[data.vote_average > rating][['original_title', 'vote_average']]

data2

                                     original_title  vote_average
9                                        Inside Out           8.0
34                                             Room           8.0
118                                    Interstellar           8.0
119                         Guardians of the Galaxy           7.9
125                              The Imitation Game           8.0
128                                       Gone Girl           7.9
138                        The Grand Budapest Hotel           7.9
370                                       Inception           7.9
599                                 The Dark Knight           8.1
872                                     The Pianist           7.9
1081  The Lord of the Rings: The Return of the King           7.9
1183                        The Wolf of Wall Street           7.9
1191                               12 Years a Slave           7.9
1800                                        Memento           7.9

In [65]:
answers['26'] = 'Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [66]:
from itertools import combinations
couples = []
for actor in data.cast:
    for x in combinations(actor.split('|'), 2):
        couples.append(' & '.join(x))

answers['27'] = collections.Counter(couples).most_common()[0][0]

ВАРИАНТ 2

# Submission

In [67]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': 'Pirates of the Caribbean: On Stranger Tides',
 '2': 'Gods and Generals',
 '3': 'Winnie the Pooh',
 '4': 110,
 '5': 107,
 '6': 'Avatar',
 '7': 'The Lone Ranger',
 '8': 1478,
 '9': 'The Dark Knight',
 '10': 'The Lone Ranger',
 '11': 'Drama',
 '12': 'Drama',
 '13': 'Peter Jackson',
 '14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 'September',
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': 'Inside Out, The Dark Knight, 12 Years a Slave',
 '27': 'Daniel Radcliffe & Rupert Grint'}

In [68]:
# и убедиться что ни чего не пропустил)
len(answers)

27